body {
    margin: 0;
    padding: 0;
}

#nodelink {
    width: 800px;
    height: 900px;
}

#adjacencymatrix {
    position: absolute;
    top: 0;
    left: 800px;
    width: 900px;
    height: 900px;
    overflow: auto;
}

.background {
  fill: #eee;
}

#adjacencymatrix line {
  stroke: white;
}

#adjacencymatrix text.active {
  fill: red;
  font-size: 120%;
}

#adjacencymatrix rect.highlight {
    fill: none;
    stroke: red;
    stroke-width: 2;
}