body {
    margin: 0;
    padding: 0;
}

.grid {
    stroke: darkgrey;
    fill: black;
}

#nodelink {
    width: 600;
    height: 900;
}

#adjacencymatrix {
    position: absolute;
    left: 560px;
    top: -40px;
    width: 850px;
    height: 1000px;
    overflow: auto;
    z-index: 10;
}